# Data Analysis Intro

## Creating Data Frames from Scratch

In [3]:
import pandas as pd

In [4]:
sample_data = {
   'tv': [230.1, 44.5, 17.2],
   'radio': [37.8, 39.3, 45.9],
   'news': [69.2, 45.1, 69.3],
   'sales': [22.1, 10.4, 9.3]
}

In [5]:
data = pd.DataFrame(sample_data)

In [6]:
data

      tv  radio  news  sales
0  230.1   37.8  69.2   22.1
1   44.5   39.3  45.1   10.4
2   17.2   45.9  69.3    9.3