# Data Analysis Intro

## Importing Data

In [3]:
import pandas as pd

In [12]:
names = ['id', 'title', 'year', 'rating', 'votes', 'length', 'genres']
data = pd.read_csv('ipynb-data-files/imdb_top_10000.txt', sep="\t", names=names, index_col=0)

## Selecting Data

In [13]:
data['title']

id
tt0111161    The Shawshank Redemption (1994)
tt0110912                Pulp Fiction (1994)
tt0137523                  Fight Club (1999)
tt0133093                  The Matrix (1999)
tt1375666                   Inception (2010)
                          ...
tt0807721                     Meduzot (2007)
tt0339642              Daltry Calhoun (2005)
tt0060880      The Quiller Memorandum (1966)
tt0152836                        Taal (1999)
tt0279977              The Navigators (2001)
Name: title, Length: 10000, dtype: object

In [14]:
data[['title', 'year']]

                                     title  year
id
tt0111161  The Shawshank Redemption (1994)  1994
tt0110912              Pulp Fiction (1994)  1994
tt0137523                Fight Club (1999)  1999
tt0133093                The Matrix (1999)  1999
tt1375666                 Inception (2010)  2010
...                                    ...   ...
tt0807721                   Meduzot (2007)  2007
tt0339642            Daltry Calhoun (2005)  2005
tt0060880    The Quiller Memorandum (1966)  1966
tt0152836                      Taal (1999)  1999
tt0279977            The Navigators (2001)  2001

[10000 rows x 2 columns]

In [15]:
data['rating'].mean()

6.38607

In [16]:
data['rating'].max()

9.2

In [23]:
data['rating'].min()

1.5

In [24]:
data['genres'].unique()

array(['Crime|Drama', 'Crime|Thriller', 'Drama|Mystery|Thriller', ...,
       'Drama|War|Adventure|Romance', 'Western|Sci-Fi|Thriller',
       'Adventure|Comedy|Drama|War'], dtype=object)

In [25]:
data['rating'].value_counts()

rating
7.1    401
6.8    401
7.2    386
6.7    384
7.0    382
      ...
1.5      7
1.6      6
8.9      5
9.0      4
9.2      2
Name: count, Length: 77, dtype: int64

In [26]:
data['rating'].value_counts().sort_index()

rating
1.5     7
1.6     6
1.7    12
1.8    12
1.9     9
       ..
8.7    13
8.8     9
8.9     5
9.0     4
9.2     2
Name: count, Length: 77, dtype: int64

In [31]:
data['rating'].value_counts().sort_index(ascending=False)

rating
9.2     2
9.0     4
8.9     5
8.8     9
8.7    13
       ..
1.9     9
1.8    12
1.7    12
1.6     6
1.5     7
Name: count, Length: 77, dtype: int64