# Data Analysis Intro

## Import Pandas

In [1]:
import pandas as pd

## Importing Data

In [2]:
names = ['id', 'title', 'year', 'rating', 'votes', 'length', 'genres']
data = pd.read_csv('ipynb-data-files/imdb_top_10000.txt', sep="\t", names=names, index_col=0)

## Challenge

### 1. What was the highest scoring movie in 1996?

In [21]:
data[data['year'] == 1996].sort_values(by='rating', ascending=False).head(1)

                  title  year  rating   votes    length                genres
id
tt0116282  Fargo (1996)  1996     8.3  187498  98 mins.  Crime|Drama|Thriller

### 2. In what year was the highest rated movie of all time made?

In [27]:
data.sort_values(by='rating', ascending=False).head(1)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama

### 3. What five movies have the most votes ever?

In [28]:
data.sort_values(by='votes', ascending=False).head(5)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0468569,The Dark Knight (2008),2008,8.9,555122,152 mins.,Action|Crime|Drama|Thriller
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller

### 4. What year in the 1960s had the highest average movie rating?

In [31]:
data[(data['year'] > 1959) & (data['year'] < 1970)].sort_values(by='rating', ascending=False).head(1)

,title,year,rating,votes,length,genres
id,,,,,,
tt0060196,"The Good, the Bad and the Ugly (1966)",1966,9.0,195238,161 mins.,Western